{% set Projecten = __SELF__.project %}
{% for project in Projecten %}
<div class="card mb-3">
    <div class=" row g-0">
        <div class="card-header">
            <strong>{{ project.naam }}</strong>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text"><strong>Omschrijving</strong> {{ project.omschrijving|raw }}</p>
                <p class="card-text">
                    <small class="text-body-secondary">
                        {% if project.klant.naam %}
                        <strong>Klant: </strong>
                        {{ project.klant.naam }}
                        {% endif %}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}